@import 'webfonts';

//COLOR PALETTE
@import 'dark-palette';

//SIZES
$mainGutter: 1.25em;

//MIXINS
@import 'mixins';
  
@include web-font(("Open+Sans") ("300,400,400i,700,700i"));

/* RESET */
#webkite-results{
  @import 'reset';
  }

/****************************************** BEGIN STYLES */
#webkite-results{
  background: $backgroundColor;
  border: 1px solid $lighterOpacity;
  @include roundedUp(.625em);
  @include boxedUp;
  font-family:"Open Sans";
  font-size: 16px;
  max-width: 43.75em;
  margin: 0 auto;
  padding: $mainGutter;
  position: relative;
  a{color:$linkColor;
      text-decoration: none; 
    &:hover{color: $linkHover;}
    }
  &.webkite-fade-out img{opacity: .5;}
  }
  
/* TYPOGRAPHY */
#webkite-results{
  h2{
    @include hyphenGreat;
    color: $medOpacity;
    display: inline-block;
    font: 700 1.125em/1 "Open Sans";
    margin: 0;
    text-align: left;
    }
  p, li{
    color: $lightOpacity;
    }
  }

//*******************************************UNIVERSALS
@import 'dark-universals';
  
/********************************************** BLOCKS */
#webkite-results{
  
  .webkite-results-container{
    @include breakThat;
    position: relative;
    text-align: justify;
    }
  .webkite-result-wrapper{
    @include boxedUp;
    display: inline-block;
    margin-bottom: $mainGutter;
    vertical-align: top;
    width: 31%;
    &.place-holder{margin-bottom: 0;}
    &.placeholder.only-lg{display: none;}
    img {
      max-width: 100%;
      height: auto;
      @include roundedUp(0.188em 0.188em 0 0);
      }
    }
  .image-wrapper{
      width: 100%;
      }
 
  }
  
/************************************ PORTRAIT RESULTS */
#webkite-results{
 
  .webkite-result{
    @include boxedUp;
    @include roundedUp(.188em);
    background: $lightestOpacity;
    border: 1px solid $lighterOpacity;  
    padding: $mainGutter/2;
    ul{
      margin-top: $mainGutter;
      }
    li{
      text-align: left;
      margin-bottom: $mainGutter/2;
      .city, .state, .country{display: inline;}
      .city + .state:before{content: ", ";}
      .city + .country:before{content: ", ";}
      .state + .country:before{content: ", ";}
      .city + .state:before{content: ", ";}
      a.webkite-website{
        @include ellipsisThis;
        font-size: .875em;
        width: 100%;
        }
      .facet-values{
        display: inline-block;
        width: 100%;
        }
      }
    a.more-button, a.less-button{
      @include boxedUp;
      @include roundedUp(.188em);
      color: white;
      display: inline-block;
      float: right;
      font: 400 .75em/1 "Open Sans";
      padding: $mainGutter/4 $mainGutter/2;
      margin-top: $mainGutter;
      text-align: center;
      width: 4.375em;
      }
    a.more-button{
      background: $linkColor;
      &:hover{background: $linkHover;}
      }
    a.less-button{
      background: $lightOpacity;
      &:hover{background: $lightOpacity*2;}
      }
    footer.breaking{
      clear: both;
      }
    }
  .webkite-result-image{
    @include roundedUp(0.188em 0.188em 0 0);
    background: $lighterOpacity;
    background-position: center top;
    background-size: cover;
    width:100%;
    height:0;
    padding-bottom:100%;
    position:relative;
    img{
      @include roundedUp(0.188em 0.188em 0 0);
      display:block;
      margin:auto;
      max-height:100%;
      max-width:100%;
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      }
    }
  .webkite-result-image + .webkite-result{
    @include roundedUp(0 0 .188em .188em);
    border-top: none;
    } 
    
  }
  
/*************************************** DETAILS MODAL */
#webkite-results{
  .webkite-item-details{
    @include boxedUp;
    margin-left: -$mainGutter;
    max-width: 43.750em;
    padding: $mainGutter;
    position: fixed;
    top: 0;
    right:0;
    left:0;
    margin:auto;
    z-index: 999999;
    h2{font: 700 1.5em/1 "Open Sans";}
    }
  .webkite-result-modal{
    @include boxedUp;
    @include roundedUp (.625em);
    @include shadowHere;
    background: $backgroundColor;
    border: 1px solid rgba(255,255,255,.2);
    padding: $mainGutter $mainGutter/5*2 $mainGutter*2 $mainGutter/4*3;
    position:relative;
    /* overflow:hidden; */
    height:100%;
    text-align: justify;
    a.webkite-website{
      @include ellipsisThis;
      width: 100%;  
      }
    .city, .state, .country{display: inline;}
    .city + .state:before{content: ", ";}
    .city + .country:before{content: ", ";}
    .state + .country:before{content: ", ";}
    a.less-button{
      @include boxedUp;
      @include roundedUp(.188em);
      color: white;
      display: inline-block;
      float: right;
      font: 400 .75em/1 "Open Sans";
      padding: $mainGutter/4 $mainGutter/2;
      text-align: center;
      width: 4.375em;
      background: $lightOpacity;
      &:hover{background: $lightOpacity*2;}
      }
    }
  .webkite-modal-content{
    height:100%;
    padding-right:$mainGutter/5*3;
    padding-left: $mainGutter/4;
    }    
  .webkite-modal-block-forty, .webkite-modal-block-sixty{
    @include boxedUp;
    display: inline-block;
    vertical-align: top;
    h2{
      margin-bottom: $mainGutter/2;
      }
    li{
      padding-bottom: $mainGutter/2;
      text-align: left;
      b, .facet-values{display: inline-block;width: 100%;}
      b{font-weight: 700;}
      }
    }
  .webkite-modal-block-forty{
    width: 39%;
    img{
      max-width: 100%;
      height: auto;
      margin-bottom: $mainGutter;
      }
    }
  .webkite-modal-block-sixty{
    width: 59%;
    padding-left: $mainGutter;
    }
  .webkite-modal-img{
    width:100%;
    height:0;
    padding-bottom:100%;
    background:rgba(0,0,0,0.05);
    margin-bottom:$mainGutter;
    position:relative;
    img{
      display:block;
      margin:auto;
      max-height:100%;
      max-width:100%;
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      }
    }
  .webkite-modal-foot{
    @include boxedUp;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    padding:$mainGutter/2;
    overflow:hidden;
    height:$mainGutter*2;
    border-top:1px solid $lighterOpacity;
    }
        
  /* blocking */
  .webkite-modal-blocking{
    display: block;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
  
  }
  
/************************************** INLINE FILTERS */
#webkite-results{

  .webkite-result li b, .webkite-result-modal li b{
    position: relative;
    > .webkite-toggle{
      @include boxedUp;
      @include roundedUp(.188em);
      border: 1px solid transparent;
      color: $lightOpacity;
      cursor: pointer;
      display: inline-block;
      font: 700 1em/1.3 "Open Sans";
      margin: 0;
      padding: $mainGutter/4 $mainGutter/4;
      height: 2em;
      margin-left: -$mainGutter/4;
      i{
        background: url("angle-dark.png") center center no-repeat;
        display: inline-block;
        height: 10px;
        margin-left: $mainGutter/2;
        pointer-events: none;
        width: 10px;
        }
      &:hover{
        border: 1px solid $lighterOpacity;
        background: $lightestOpacity;
        }
      }
    }
  .webkite-result .inline-filter-menu, .webkite-result-modal .inline-filter-menu{
    @include roundedUp(.375em);
    @include shadowHere;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    position: absolute; 
    background: white;
    background-clip: padding-box;
    padding: $mainGutter/2 0;
    top: $mainGutter/2;
    left: $mainGutter/2;
    margin: 0;
    max-height: 12.5em;
    overflow:hidden;
    overflow-y: auto;
    border:1px solid $lightestOpacity;
    z-index: 2;
    li {
      padding-bottom: 0;
      a{
        color: $linkColor;
        display: block;
        font-size: .875em;
        font-weight: 400;
        max-width: 100%;
        padding: $mainGutter/5 $mainGutter $mainGutter/5 $mainGutter/2;
        white-space: normal;
        line-height:1.1;
        &:hover{background: $linkColor;color: white;}
        }
      }
    }
  
}

/******************************************* NO RESULTS */
#webkite-results{
  
  .webkite-no-results{
    padding: $mainGutter 0;
    h2{
      margin-bottom: $mainGutter;
      }
    }

  }
   
/************************************** ELEMENT QUERIES */
#webkite-results.xs{
  .webkite-block,.webkite-title-area, .webkite-branding-area, .webkite-pagination-area{
    width: 100%;
    padding-right: 0;
    }
  .webkite-filter-area, .webkite-sort-area, .webkite-sort-area > .webkite-toggle{
    width: 100%;
    }
  .webkite-sort-area > .webkite-toggle i{
    float: right; margin-top: $mainGutter/4;
    }
  .sort-menu{width: 95%;}
  .webkite-sort-area+.webkite-filter-area{
    margin-top: $mainGutter;
    }
  .webkite-filter-area{
    margin-left: 0;
    padding-left: 0;
    }
  .webkite-title-area, .webkite-branding-area, .webkite-pagination-area{
    text-align: center;
    }
   .webkite-result-wrapper{width: 100%;}
  .webkite-branding-area{
    padding-bottom: $mainGutter; 
    }
  .webkite-results-footer{
    height: 2.813em*2+$mainGutter;
    }
  .webkite-item-details{
    @include putHere(5%);
    margin: auto;
    max-width: 21.875em;
    padding: $mainGutter/2;
    .webkite-result-modal{
      @include putHere(0);
      max-height: 100%;
      overflow: hidden;
      .inline-filter-menu{
        width:180px;
        li{
          a{padding:$mainGutter/5*2 $mainGutter/2;}
          }
        }
      }
    .webkite-modal-block-forty, .webkite-modal-block-sixty{width: 100%; padding: 0;}
    li{b, .facet-values{width: 100%;}}   
    }
  .webkite-modal-content{
    overflow:hidden;
    overflow-y:auto;
    } 
  }//end xs
  
#webkite-results.sm{
  .webkite-filter-area, .webkite-sort-area, .webkite-sort-area > .webkite-toggle{
    width: 100%;
    }
  .webkite-sort-area > .webkite-toggle i{
    float: right; margin-top: $mainGutter/4;
    }
  .sort-menu{width: 95%;}
  .webkite-sort-area+.webkite-filter-area{
    margin-top: $mainGutter;
    }
  .webkite-filter-area{
    margin-left: 0;
    padding-left: 0;
    }
  .webkite-result-wrapper{width: 48%;}
  .webkite-item-details{
    @include putHere(5%);
    margin: auto;
    max-width: 25em;
    padding: $mainGutter/2;
    .webkite-result-modal{
      @include putHere(0);
      max-height: 100%;
      overflow: hidden;
      .inline-filter-menu{
        li{
          a{padding:$mainGutter/5*2 $mainGutter/2;}
          }
        }
      }
    .webkite-modal-block-forty, .webkite-modal-block-sixty{width: 100%; padding: 0;}
    li{b, .facet-values{width: 100%;}}  
    }
  .webkite-modal-content{
    overflow:hidden;
    overflow-y:auto;
    }
  }//end sm
  
#webkite-results.lg, #webkite-results.xl{
  .webkite-result-wrapper{width: 23%;}
  }